<template name='changePassword'>
	<div class="mobileWrap greyBg relative">
		<div class="paddingmain animated fadeIn signInWrap">
			<!--Screen info start-->
			<div class="row nomargin">
				<div class="col s12">
					<div class="pagedesc2">CHANGE PASSWORD</div>
				</div>
			</div>
			<!--Screen info start-->

			<!--Sign In Form-->

			<div class="row ">
				<div class="formWrap">
					<div class="row nomargin">
					</div>

					<div class="formFieldWrap">
						<div class="row">
							<div class="input-field col s12">
								<input  name="oldPassword" type="password" class="validate" placeholder="Enter previous password" required>
							</div>
							<div class="input-field col s12">
								<input name="newPassword" type="password" class="validate" placeholder="Enter new password" required>
							</div>
						</div>
						</div>
					</div>

					<div class="row">
                        <div class="input-field col s6 btngapwrap">
							<a id="backBtn" class="waves-effect btn-large width100 btnWhite btnradius10">BACK</a>
						</div>
						<div class="input-field col s6 btngapwrap">
							<a id="submitBtn" class="waves-effect btn-large width100 btnWhite btnradius10">SUBMIT</a>
						</div>
					</div>
				</div>
			</div>
			<!--Sign In Form-->
		</div>
</template>