<template name='myProfile'>
	<div class="mobileWrap greyBg relative">
		<div class="paddingmain animated fadeIn signInWrap">
			<!--Screen info start-->
			<div class="row nomargin">
				<div class="col s12">
					<div class="pagedesc2">ABOUT YOU</div>
				</div>
			</div>
			<!--Screen info start-->

			<!--Sign In Form-->

			<div class="row ">
				<div class="formWrap">
					<div class="row nomargin">
						<div class="input-field col s12 nomargin">
							<div class="fileUpload">
								{{#if hasImage profilePic}}
									{{#each profilePic}}
										<img id="myImg" src="{{this.url}}"> 
									{{/each}}
								{{else}}
									<img id="myImg" src="" alt="" />
								{{/if}}
								<!--<span class="custom-span"></span>-->
								<input id="uploadBtn" type="file" class="upload" />
							</div>
						</div>
					</div>

					<div class="formFieldWrap">
						<div class="row">
							<div class="input-field col s6">
								<input name="fname" type="text" class="validate" placeholder="First Name" required>
							</div>
							<div class="input-field col s6">
								<input name="lname" type="text" class="validate" placeholder="Last Name" required>
							</div>
						</div>

						<div class="row">
							<div class="input-field col s6">
								<div class="selectwrap">
									<label>
										<select name="gender" required> 
											<option value="" disabled selected>Gender</option>
											<option value="Male">Male</option>
											<option value="Female">Female</option>
										</select>
									</label>
								</div>
							</div>


							<div class="input-field col s6">
								<div class="selectwrap">
									<label>
										<select name="education" required>
											<option value="" disabled selected>Education</option>
											<option value="Undergraduate">Undergraduate</option>
											<option value="Graduate">Graduate</option>
											<option value="Post Graduate">Post Graduate</option>
											<option value="PHD">PHD</option>
										</select>
									</label>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="input-field col s6">
								<div class="selectwrap">
									<label>
										<select name="profession" required> 
											<option value="" disabled selected>Profession</option>
											<option value="Service">Service</option>
											<option value="Business">Business</option>
										</select>
									</label>
								</div>
							</div>

							<div class="input-field col s6">
								<div class="selectwrap">
									<label>
										<select name="ethnicity" required>
											<option value="" disabled selected>Ethenicity</option>
											<option value="german">German</option>
											<option value="african american">African American</option>
											<option value="irish">Irish</option>
											<option value="mexican">Mexican</option>
											<option value="english">English</option>
											<option value="american">American</option>
											<option value="italian">Italian</option>
											<option value="polish">Polish</option>
											<option value="french">French</option>
											<option value="scottish">Scottish</option>
											<option value="asian">Asian</option>
										</select>
									</label>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="input-field col s12 datefield">
								<input type="date" class="dob" name="dob" value="" required>
								<label for="dob"> Date of birth</label>
							</div>

							<div class="input-field col s6">

							</div>
						</div>
					</div>

					<div class="row">
						<div class="input-field col s3 btngapwrap">
							<a id="backBtn" class="waves-effect btn-large width100 btnWhite btnradius10">BACK</a>
						</div>
						<div class="input-field col s3 btngapwrap">
							<a id="submitBtn" class="waves-effect btn-large width100 btnWhite btnradius10">SUBMIT</a>
						</div>
						<div class="input-field col s3 btngapwrap">
							<a id="changePasswordBtn" class="waves-effect btn-large width100 btnWhite btnradius10">PASSWORD</a>
						</div>
						<div class="input-field col s3 btngapwrap">
							<a id="logoutBtn" class="waves-effect btn-large width100 btnWhite btnradius10">LOGOUT</a>
						</div>
					</div>
				</div>
			</div>
			<!--Sign In Form-->
		</div>
	</div>
</template>