@media only screen and (min-width: 1200px) {}

@media only screen and (max-width: 1200px) {}

@media (max-width: 990px) {}

@media (min-width: 991px) {}

@media (max-width:800px) {}

@media (max-width:720px) {}

@media (max-width: 668px) {
    .cardTypeGameText {
        height: 43px;
        line-height: 43px;
    }
    .cardTypeGameText {
        font-size: 18px;
    }
    .cardCategoryName{
        font-size: 15px;
    }
}

@media (max-width: 520px) {
    
    .listtitle {
        font-size: 18px;
    }
    .cardTypeGameText {
        height: 43px;
        line-height: 21px;
    }
}

@media (max-width: 420px) {
    .btn-large {
        height: 50px;
        line-height: 50px;
    }
    .btnradius10 {
        border-radius: 5px;
    }
    .logo {
        width: 140px;
        width: 140px;
        height: auto;
        margin: 24% auto 0;
        display: block;
    }
    .taglineinner {
        font-size: 16px;
        line-height: 25px;
    }
    .btnWhite {
        font-size: 17px;
    }
    .facebookbtn {
        font-size: 13px;
        padding: 0 2px;
    }
    .googleBtn, .linkedinBtn {
        font-size: 13px;
    }
    .facebookbtn .fa-facebook-square{
        padding-right: 0px;
    }
    .listtitle {
        font-size: 18px;
    }
    .backbtn {
        width: 27px;
        height: auto;
    }
    .listtitletext {
        height: 29px;
        line-height: 29px;
    }
    .titlebarBack {
        padding-top: 80px;
    }
    .slidemenu [type="radio"]:not(:checked)+label,
    .slidemenu [type="radio"]:checked+label {
        font-size: 16px;
    }
    .scoreDetails p {
        font-size: 16px;
    }
    .skillsTab>.row>p {
        font-size: 16px;
    }
    .ProgressTab,
    .blackbg {
        min-height: 100%;
    }
    .frndImg {
        width: 60px;
        height: 60px;
        border-radius: 30px;
    }
    .frndName {
        margin-top: 15px;
    }
    .selectbutton {
        margin-top: 15px;
    }
    .notificationIcon,
    .notificationIcon img {
        margin-top: 10px;
    }
    .signuplink {
        font-size: 12px;
    }
    .noOfGames,
    .frndName {
        font-size: 12px;
    }
    .cardTypeGameText {
        height: 43px;
        line-height: 21px;
    }
}

@media (max-width: 320px) {
    .btnWhite {
        font-size: 16px;
    }
    .facebookbtn {
        font-size: 14px;
    }
    .googleBtn {
        font-size: 14px;
    }
}