<template name="GameLoading">
    <div class="mobileWrap greyBg relative">
        <div class="animated fadeIn gamePlayerWrap">
            <div class="gamePlayerHolder">
                <div class="gamePlayerInner gmPlInnerTop player1">
                    <div class="gamePlTopImg">
                        {{#each profilePicture 'host'}}
                        <div style="background-image: url('{{this.url}}');" class="playerimg"></div>
                        {{/each}}
                        <span>{{players.host}}</span>
                    </div>

                </div>
                <div class="gamePlayerInner gmPlInnerTop player2">
                    <div class="gamePlTopImg">
                        {{#each profilePicture 'guest'}}
                        <div style="background-image: url('{{this.url}}');" class="playerimg"></div>
                        {{/each}}
                        <span>{{players.invited}}</span>
                    </div>

                </div>
                <div class="logoHolder">
                </div>
            </div>
        </div>
        <div class="absolute width100 startbottom">
            <div class="row">
                <div class="col s12">
                    <span class="gamedate text-center textWhite fontSize13">On {{getDate}}</span>
                </div>
            </div>
        </div>

    </div>

</template>