<Template name="friendInviteEmail">
    <div class="mobileWrap greyBg relative">
		<div class="paddingmain animated fadeIn profileOverview titlebarBack">
			<!--fixed top-->
			<div class="screenFixedTop">
				<div class="row nomargin fixedLogo">
					<div class="col s12">
						<div class="listtitle fontSize25 textWhite">
							<a id="backBtn" class="listtitleimg" href="javascript:void(0);"><img src="images/backbtn.png" class="backbtn"/> </a>
							<span class="listtitletext">Whom did you play with?</span>
						</div>
					</div>
				</div>

			</div>
			<!--fixed top-->

			<!-- Invite a friend with email -->
			<div class="row ">
				<form>
					<div class="formWrap">
					<div class="formFieldWrap">
						<div class="row">
							<div class="input-field col s12">
								<input id="firstname" type="text" placeholder="First name" required>
							</div>
						</div>

						<div class="row">
							<div class="input-field col s12">
								<input id="lastname" type="text" placeholder="Last name" required>
							</div>
						</div>

						<div class="row">
							<div class="input-field col s12">
								<input id="email" type="email" placeholder="Email" required>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12 btngapwrap">
							<button type="submit" class="waves-effect waves-light btn-large width100 btnWhite btnradius10">SEND</button>
						</div>
					</div>
				</div>
				</form>
			</div>
			<!-- Invite a friend with email -->
		</div>
	</div>
</Template>