<template name='dashboard'>
	<div class="mobileWrap greyBg relative overflowHidden">
		<div class="paddingmain animated fadeIn profileOverview">

			<div class="screenFixedTop">
				<div class="row nomargin fixedLogo">
					<div class="col s12">
						<div class="logoText"><img src="images/logotext.png" /></div>
					</div>
					<a href="javascript:void(0);" id="invitationBtn" class="notification">
						<!--<span class="notificationCount"></span>-->
						<span class="fa fa-bell"></span>
					</a>
				</div>

				<!-- navigation -->
				<nav class="slidemenu">

					<!-- Item 1 -->
					<input type="radio" data-pane="dashboard" name="slideItem" id="slide-item-1" class="slide-toggle" checked/>
					<label for="slide-item-1"><span class="overviewMenuItem">OVERVIEW</span></label>

					<!-- Item 2 -->
					<input type="radio" data-pane="skills" name="slideItem" id="slide-item-2" class="slide-toggle" />
					<label for="slide-item-2"><span class="skillMenuItem">SKILLS</span></label>

					<!--Item 3 -->
					<input type="radio" data-pane="profile" name="slideItem" id="slide-item-3" class="slide-toggle" />
					<label for="slide-item-3"><span class="progessMenuIem">SETTINGS</span></label>

					<div class="clear"></div>

					<!-- Bar -->
					<div class="slider">
						<div class="bar"></div>
					</div>

				</nav>
				<!-- navigation -->
			</div>

			<!-- overviewTab Content -->
			<div class="overviewTab">
				<div class="overviewScoreScreen">
					<div class="scoreHeader">
						<div class="scoreWheel">
						</div>
						<div class="scoreWheel1">
							<span>{{userTotalScore}}</span>
						</div>
						<div class="scoreDetails">
							<p>YOUR WEQU EXP SCORE</p>
							<span>This is your overall WeQu score</span>
						</div>
					</div>
					<div class="scoreGraphHolder">
						<!-- <canvas id="canvas"></canvas> -->
						<div id="radarChart"></div>
					</div>
				</div>

				<div class="overviewPositiveEssance">
					<div class="scoreCardsHolder">
						<p>MY {{myPositiveEssences.length}} POSITIVE ESSANCE</p>

						<div class="row cardsHolder">
							{{#each myPositiveEssences}}
							<div class="col s4">
								<div class="roundedCard {{GroupName}} {{ClassName}}"></div>
							</div>
							{{/each}}
						</div>
						<!--
                         <p>Initiative</p>

                         <div class="commentHolderOuter">
                         	<div class="row">
                         		<div class="commentHolder">
                         			<p class="commentText">Venenatis vitae, justo. Nullum dictum eu ped fellis e molis pretium</p>
                         			<p class="commentDetails">from Ilona Owusu, January 2016</p>
                         		</div>
                         		<div class="commentHolder">
                         			<p class="commentText">Venenatis vitae, justo. Nullum dictum eu ped fellis e molis pretium</p>
                         			<p class="commentDetails">from Ilona Owusu, January 2016</p>
                         		</div>
                         	</div>
                         </div>

                         <p class="textSmall">Show 5 more comments</p>-->

					</div>
				</div>
			</div>
			<!-- overviewTab Content -->

			<!-- SkillsTab Content-->
			<div class="skillsTab" style="display:none;">
				<div class="row">
					{{#each CardData}}
					<p>{{CategoryName}}</p>
					<div class="progressHolder {{CategoryClass}}">
						{{#each Cards}}
						<div class="progressBar">
							<div class="progressInner" style="width:100%"></div>
							<span class="progressName">{{CardName}}</span>
							<span class="progressScore">{{CardScore CardId}}%</span>
						</div>
						{{/each}}
					</div>
					{{/each}}
				</div>
			</div>
			<!-- SkillsTab Content-->

			<!-- ProgressTab Content-->
			<div class="ProgressTab" style="display:none;">
				<H4 class="text-center textWhite">Progress</H4>
			</div>
			<!-- ProgressTab Content-->

			<div class="absolute startbottom bottomButtonBackground">
				<div class="row">
					<div class="input-field col s12">
						<button id="captureBtn" class="waves-effect btn-large width100 btnWhite btnradius10">CAPTURE CARD GAME RESULTS</button>
					</div>
				</div>
			</div>


		</div>


	</div>
</template>