<template name="EmailInvite">
	<div class="mobileWrap greyBg relative">
		<div class="paddingmain animated fadeIn profileOverview titlebarBack">
			<!--fixed top-->
			<div class="screenFixedTop">
				<div class="row nomargin fixedLogo">
					<div class="col s12">
						<div class="listtitle fontSize25 textWhite">
							<a class="listtitleimg" href="javascript:void(0);"><img src="images/backbtn.png" class="backbtn"/> </a>
							<span class="listtitletext">Whom did you play with?</span>
						</div>
					</div>
				</div>

			</div>
			<!--fixed top-->

			<!-- Invite a friend with email -->
			<div class="row ">
				<div class="formWrap">
					<div class="formFieldWrap">
						<div class="row">
							<div class="input-field col s12">
								<input id="firstname" type="text" placeholder="First name">
							</div>
						</div>

						<div class="row">
							<div class="input-field col s12">
								<input id="lastname" type="text" placeholder="Last name">
							</div>
						</div>

						<div class="row">
							<div class="input-field col s12">
								<input id="email" type="email" placeholder="Email">
							</div>
						</div>
					</div>
					<div class="row">

						<div class="input-field col s12 btngapwrap">
							<a class="waves-effect waves-light btn-large width100 btnWhite btnradius10" id="sendEmailBtn">SEND</a>
						</div>

					</div>
				</div>
			</div>
			<!-- Invite a friend with email -->
		</div>
	</div>
</template>