<template name="FriendListInvite">
	<div class="mobileWrap greyBg relative">
		<div class="paddingmain animated fadeIn profileOverview titlebarBack">
			<!--fixed top-->
			<div class="screenFixedTop">
				<div class="row nomargin fixedLogo">
					<div class="col s12">
						<div class="listtitle fontSize25 textWhite">
							<a id="backBtn" class="listtitleimg"><img src="images/backbtn.png" class="backbtn"/> </a>
							<span class="listtitletext">Friend List</span>
							<!-- <span class="listtitletext">Whom did you play with?</span> -->
						</div>
					</div>
				</div>
			</div>
			<!--fixed top-->

			<!--friendlist-->    
			<div class="blackbg friendlistWrap noTopPadding">
				<div class="friendlist">
					{{#each connections}}
					<!--friendlistItem-->  
					<div class="friendlistItem active">
						<div class="row nomargin">
							<div class="col s3 nopaddingRight">
								{{#if currentUserId ConnectionId}}
									<img src="{{profilePicture ConnectionId}}" class="frndImg"/>
								{{else}}
									<img src="{{profilePicture UserId}}" class="frndImg"/>	
								{{/if}}
							</div>
							<div class="col s4">
								<div class="frndName fontSize14 textWhite">
									{{ConnectionFirstName}} {{ConnectionLastName}}
								</div>
								<div class="noOfGames fontSize14 textWhite">
									{{GamesPlayed}} plays
								</div>
							</div>
							<div class="col s4">
								<a id="selectBtn" data-index="{{@index}}" class="waves-effect btn btnradius10 selectbutton"> Select</a>
							</div>
						</div>
					</div>
					<!--friendlistItem--> 
					{{/each}}
				</div>
			</div>
			<!--friendlist-->  

			{{>Invite}}
		</div>
	</div>

</template>

<template name="Invite">
	<div class="absolute width100 startbottom bottomButtonBackground">
		<div class="row">
			<div class="col s12 marginTop20">
				<button id="noInviteBtn" class="waves-effect btn-large width100 btnWhite btnradius10 normalText signinlinkRegister">Continue without sending invitation</button>

				<button id="inviteEmailBtn" class="waves-effect btn-large width100 btnWhite btnradius10 normalText bold">Invite friends with email</button>
			</div>
		</div>
		<!-- <div class="row">
			<div class="input-field col s12 btngapwrap">
				<a id="noInviteBtn" class="textWhite textWhite text-center signinlinkRegister" href="javascript:void(0);">Continue Without Sending Invitation</a>
			</div>
		</div>
		<div class="row">
			<div class="col s12 text-center">
				<a id="inviteEmailBtn" href="javascript:void(0)" class="textWhite text-center signuplink bold">Invite friends with email</a>
			</div>
		</div> -->
	</div>
</template>