<template name="FriendListInvite">
	<div class="mobileWrap greyBg relative">
		<div class="paddingmain animated fadeIn profileOverview titlebarBack">
			<!--fixed top-->
			<div class="screenFixedTop">
				<div class="row nomargin fixedLogo">
					<div class="col s12">
						<div class="listtitle fontSize25 textWhite">
							<a id="backBtn" class="listtitleimg"><img src="images/backbtn.png" class="backbtn"/> </a>
							<span class="listtitletext">Whom did you play with?</span>
						</div>
					</div>
				</div>
				<div class="friendInvitationWrap">
					<div class="friendInvitationTitle">
						<div class="row nomargin">
							<div class="col s12">
								<span class="calloutSmall"><img src="images/calloutsmallicon.png"/> </span>
								<span class="commentTitle fontSize12">Complete it by leaving a comment</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--fixed top-->

			<!--friendlist-->    
			<div class="blackbg friendlistWrap">
				<div class="friendlist">
					{{#each connections}}
					<!--friendlistItem-->  
					<div class="friendlistItem active">
						<div class="row nomargin">
							<div class="col s3 nopaddingRight">
								<img src="images/sanne-reusch2.png" class="frndImg"/>
							</div>
							<div class="col s4">
								<div class="frndName fontSize14 textWhite">
									{{ConnectionFirstName}} {{ConnectionLastName}}
								</div>
								<div class="noOfGames fontSize14 textWhite">
									{{GamesPlayed}} plays
								</div>
							</div>
							<div class="col s1">
								<span class="notificationIcon"><img src="images/calloutsmallicon.png"/></span>
							</div>
							<div class="col s4">
								<a id="selectBtn" data-index="{{@index}}" class="waves-effect btn btnradius10 selectbutton"> Select</a>
							</div>
						</div>
					</div>
					<!--friendlistItem--> 
					{{/each}}
				</div>
			</div>
			<!--friendlist-->  

			{{>Invite}}
		</div>


	</div>

</template>

<template name="Invite">
	<div class="absolute width100 startbottom bottomButtonBackground">
		<div class="row">
			<div class="col s12">
				<button id="FBFriendBtn" class="waves-effect btn-large width100 btnWhite btnradius10 facebookbtn"><span class="fa fa-facebook-square"></span> Invite friends with Facebook</button>
				<a class="waves-effect btn-large width100 btnWhite btnradius10 googleBtn"><span class="fa fa-google-plus"></span>Invite friends with Google</a>
			</div>
		</div>

		<div class="row">
			<div class="col s12">
				<a id="inviteEmailBtn" href="javascript:void(0)" class="textWhite text-center signuplink bold">Invite friends with email</a>
			</div>
		</div>
	</div>
</template>