<template name="home">
	<div class="mobileWrap brickredbg relative">
        <div class="paddingmain animated fadeIn startscreenwrap">
            <!--logo and tagline start-->

            <!--logo and tagline start-->
            <div class="row">
                <div class="col s12 animated bounceInDown"> <img src="images/Group.png" class="logo splashLogo" /></div>
            </div>

            <div class="row">
                <div class="col s12 animated fadeIn taglineWrap">
                    <p class="text-center tagline"><span class="fontSize20 text-shadow bold"> GET READY TO DISCOVER <br/> YOURSELF</span></p>
                </div>
            </div>
           
            <!--logo and tagline end-->
            
            <!--Button and signinlink start-->

            <div class="absolute width100 startbottom">
                <div class="row">
                    <div class="col s12">
                        <button id='startBtn' class="waves-effect waves-light btn-large   btnradius10 animated fadeIn startbtn joinBtn text-shadow bold">JOIN TO START</button>
                    </div>
                    <div class="col s12 marginTop30">
                        <p class="text-center bold text-shadow fontSize16">Have an Account? 
                            <a class="textBlack" href="/loginEmail">SIGN IN</a>
                        </p>
                    </div>
                </div>
            </div>
            <!--Button and signinlink start-->
        </div>
    </div>
</template>