	<template name='signupEmail'>
		<div class="mobileWrap greyBg relative">
			<div class="paddingmain animated fadeIn signInWrap">
				<!--Screen info start-->
				<div class="row nomargin">
					<div class="col s12">
						<div class="pagetitle">
							SIGN UP
							<a href="javascript:void(0);" id="backBtn" class="backbutton"><span class="fa fa-angle-left"></span></a>
						</div>
					</div>
				</div>
				<!--Screen info start-->

				<!--Sign In Form-->
				<form>
					<div class="row ">
						<div class="formWrap">
							<div class="formFieldWrap">
								<div class="row">
									<div class="input-field col s12">
										<input id="email" name='email' type="email" class="validate" placeholder="Email" required>
									</div>
								</div>

								<div class="row">
									<div class="input-field col s12">
										<input id="password" type="password" name='password' placeholder="Password" required>
									</div>
								</div>
								<div class="row">
									<div class="input-field col s12">
										<input id="confpassword" type="password" name='confpassword' placeholder="Confirm Password" required>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="input-field col s12 btngapwrap">
									<button type="submit" class="waves-effect waves-light btn-large width100 btnWhite btnradius10">SUBMIT</button>
								</div>
							</div>
						</div>


					</div>
				</form>
				<div class="absolute width100 startbottom">
					<!--<div class="row">
						<div class="col s12 text-center textWhite></div>">
							<a href="javascript:void(0)" class="textWhite text-center signuplink bold" id-="backBtn"><span class="fa fa-arrow-left"></span>  Back to <span class="fa fa-facebook-square"></span> / <span class="fa fa-google-plus"></span> Sign In</a>
						</div>
					</div>-->
				</div>
			</div>
		</div>
	</template>