<template name='signupAdditional'>
	<div class="mobileWrap greyBg relative">
		<div class="paddingmain animated fadeIn signInWrap">
			<!--Screen info start-->
			<div class="row nomargin">
				<div class="col s12">
					<div class="pagetitle">JOIN NOW</div>
					<div class="pagedesc2">ABOUT YOU</div>
					<div class="pagedescsmall">Enter your personal details so we can personalize your experience</div>
				</div>
			</div>
			<!--Screen info start-->

			<!--Sign In Form-->

			<div class="row ">
				<form>
				<div class="formWrap">
					<div class="row nomargin">
						<div class="input-field col s12 nomargin">
							<div class="fileUpload">
								<img id="myImg" src="" alt="" />
								<span class="custom-span"></span>
								<input id="uploadBtn" type="file" class="upload" />
							</div>
							<input id="uploadFile" placeholder="Add Your Picture" disabled="disabled" />
							<!--{{> avatar user=this shape="circle"}}-->
						</div>
					</div>

					<div class="formFieldWrap">
						<div class="row">
							<div class="input-field col s6">
								<input name="fname" type="text" class="validate" placeholder="First name" required>
							</div>
							<div class="input-field col s6">
								<input name="lname" type="text" class="validate" placeholder="Last name" required>
							</div>
						</div>

						<div class="row">
							<div class="input-field col s6">
								<div class="selectwrap">
									<label>
										<select name="gender" required>
											<option value="" disabled selected>Gender</option>
											<option value="Male">Male</option>
											<option value="Female">Female</option>
										</select>
									</label>
								</div>
							</div>


							<div class="input-field col s6">
								<div class="selectwrap">
									<label>
										<select name="education" required>
											<option value="" disabled selected>Education</option>
											<option value="Primary education (Elementary School)">Primary education (Elementary School)</option>
											<option value="Secondary education (High School)">Secondary education (High School)</option>
											<option value="Bachelor degree">Bachelor degree</option>
											<option value="Master's degree">Master's degree</option>
											<option value="Doctoral degree">Doctoral degree</option>
										</select>
									</label>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="input-field col s6">
								<input type="text" name="profession" class="validate" placeholder="Enter Profession" required>
							</div>

							<div class="input-field col s6">
								<div class="selectwrap">
									<label>
										<select name="ethnicity" required>
											<option value="" disabled selected>Ethenicity</option>
											<option value="Asian">Asian</option>
											<option value="Black">Black</option>
											<option value="Latino">Latino</option>
											<option value="Middle Eastern">Middle Eastern</option>
											<option value="Mixed">Mixed</option>
											<option value="Native American">Native American</option>
											<option value="Caucasian">Caucasian</option>
											<option value="Other">Other</option>
										</select>
									</label>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="input-field col s12 datefield">
								<input type="date" class="dob" name="dob" value="" required>
								<label for="dob"> Date of birth</label>
							</div>

							<div class="input-field col s6">

							</div>
						</div>
					</div>

					<div class="row">
						<div class="input-field col s12 btngapwrap">
							<button type="submit" class="waves-effect btn-large width100 btnWhite btnradius10">SUBMIT</button>
						</div>
					</div>
				</div>
				</form>
			</div>
			<!--Sign In Form-->


		</div>


	</div>
</template>