<template name="verifyEmail">
        <div class="mobileWrap greyBg relative">
        <div class="paddingmain animated fadeIn profileOverview titlebarBack gamestepwrap">
            <!--fixed top-->
            <div class="screenFixedTop">
                <!--<div class="flowProgress"></div>-->
                <div class="row nomargin fixedLogo">
                    <div class="col s12">
                        <div class="listtitle fontSize25 textWhite">
                            <span class="listtitletext cardTypeGameText text-center">We have sent you a verification email on {{emailToVerify}}. Please log in to your account and follow the link to complete the verification. Once done, please click 'NEXT' to move forward. Thank you</span>
                        </div>
                    </div>
                </div>
                <div class="friendInvitationWrap">
                    <div class="friendInvitationTitle cardCategory">
                        <div class="row nomargin">
                            <div class="col s12">
                                <!--<p class="fontSize16 text-center ">SELF MANAGEMENT</p>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--fixed top-->
            <div class="absolute width100 startbottom bottomButtonBackground">
                <div class="row">
                    <div class="col s4">
                        <div class="input-field col s12 btngapwrap">
                            <button id="resendBtn" class="waves-effect waves-light btn-large width100 btnWhite btnradius10" >RESEND LINK</button>
                        </div>
                    </div>
                    <div class="col s4">
                        <div class="input-field col s12 btngapwrap">
                            <button id="nextBtn" class="waves-effect waves-light btn-large width100 btnWhite btnradius10" >NEXT</button>
                        </div>
                    </div>
                    <div class="col s4">
                        <div class="input-field col s12 btngapwrap">
                            <button id="cancelBtn" class="waves-effect waves-light btn-large width100 btnWhite btnradius10" >CANCEL</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>