<template name="forgotPassword">
    <div class="mobileWrap greyBg relative">
		<div class="paddingmain animated fadeIn signInWrap">
			<!--Screen info start-->
			<div class="row nomargin">
				<div class="col s12">
					<div class="pagedesc2">FORGOT PASSWORD</div>
				</div>
			</div>
			<!--Screen info start-->

			<!--Sign In Form-->

			<div class="row ">
                <form>
                    <div class="formWrap">
                        <div class="row nomargin">
                        </div>

                        <div class="formFieldWrap">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input  name="email" type="email" class="validate" placeholder="Enter Email" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                            <div class="input-field col s6 btngapwrap">
                                <a id="backBtn" class="waves-effect btn-large width100 btnWhite btnradius10">BACK</a>
                            </div>
                            <div class="input-field col s6 btngapwrap">
                                <button type="submit" class="waves-effect btn-large width100 btnWhite btnradius10">SUBMIT</button>
                            </div>
                        </div>
                     </form>
				</div>
			</div>
			<!--Sign In Form-->
		</div>
</template>