<template name="loginDefault">
    <div class="mobileWrap greyBg relative">
        <div class="paddingmain animated fadeIn signInWrap">
            <!--Screen info start-->
            <div class="row">
                <div class="col s12">
                    <div class="pagetitle">SIGN IN</div>
                    <div class="pagedesc">We recommend using Facebook or Google+, so you can play together with your friend on WeQu. </div>
                </div>
            </div>
            <!--Screen info start-->
            
            <!--Sign up with Facebook/Google-->
            <div class="row">
                <div class="col s12">
                    <button id='facebook-login' class="waves-effect waves-light btn-large width100 btnWhite btnradius10 facebookbtn"><span class="fa fa-facebook-square"></span> Sign in with Facebook</button>
                    <button id="google-login" class="waves-effect waves-light btn-large width100 btnWhite btnradius10 googleBtn"><span class="fa fa-google-plus"></span>Sign in with Google</button>
                    <button id="linkedIn-login" class="waves-effect waves-light btn-large width100 btnWhite btnradius10 googleBtn"><span class="fa fa-linkedin-square"></span>Sign in with LinkedIn</button>
                </div>
            </div>
            <!--Sign up with Facebook/Google-->

            <div class="row ">
                <div class="col s12">
                    <p class="textWhite text-center fontSize14 postpermission">We’ll never post anything without your permission!</p>
                </div>
            </div>

            <div class="absolute width100 startbottom">
                <div class="row">
                    <div class="col s12">
                        <a id="signInBtn" class="textWhite text-center signuplink bold">Sign In with email</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <a id="forgotPasswordBtn" class="textWhite text-center signuplink bold">Forgot Password</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <!--<a class="textWhite text-center signuplink bold" href="/signupDefault">Sign Up</a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>