<template name="ResetPassword">
    <div class="mobileWrap greyBg relative">
        <div class="paddingmain animated fadeIn signInWrap">
            <!--Sign In Form-->
            {{#if resetPassword}}
            <form action="/reset-password" id="resetPasswordForm" method="post">
                <div class="row ">
                    <div class="formWrap">
                        <div class="formFieldWrap">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="resetPasswordPassword" name="password" placeholder="New Password" type="password">
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="resetPasswordPasswordConfirm" name="password-confirm" placeholder="Confirm" type="password">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 btngapwrap">
                                <button type="submit" value="Reset" class="waves-effect waves-light btn-large width100 btnWhite btnradius10">SUBMIT</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            {{/if}}
        </div>
    </div>
</template>